{% extends "base.html" %} {% block main %}

<div class="pre-card-div">
  <div class="card" id="card">
    <div class="info">
      <div class="info-div">
        <h1 class="four-o-four-title">404</h1>
        <p class="four-o-four-paragraph">You can't get what's not there...</p>
      </div>
    </div>
    <div class="four-o-four-card-buttons-div">
      <a class="four-o-four-card-button" href="/">
        <i class="fa-solid fa-house"></i>
      </a>
    </div>
  </div>
</div>

<div class="commands-div">
  <button class="button" id="hide_button">
    <i id="eye_slashed_icon" class="fa-solid fa-eye-slash"></i>
  </button>

  <button class="button" id="random_button">
    <i class="fa-sharp fa-solid fa-dice"></i>
  </button>
</div>
{% endblock %}
