{% extends "base.html" %} {% block main %}
<!--
<img
  src="{{ url_for('static', filename='ivan-maljarenko-ZRHlIVE3wq4-unsplash.jpg') }}"
  class="bg-pic"
/>
-->

<div class="pre-card-div">
  <div class="card" id="card">
    <div class="me">
      <div class="my-name-div">
        <h1 class="my-name">Milijan Mosić</h1>
      </div>

      <ul class="about-me">
        <li class="list-item">Software engineer</li>
        <li class="list-item">Nature lover</li>
        <li class="list-item">Minimalist</li>
      </ul>
    </div>
    <div class="card-buttons-div">
      <a
        class="card-button"
        target="_blank"
        href="https://gitlab.com/milijan-mosic"
        aria-label="Go to my Gitlab profile"
      >
        <i class="fa-brands fa-gitlab"></i>
      </a>

      <a
        class="card-button"
        target="_blank"
        href="https://www.instagram.com/windwalk.ext4/"
        aria-label="Go to my Instagram profile"
      >
        <i class="fa-brands fa-instagram"></i>
      </a>

      <a
        class="card-button"
        target="_blank"
        href="mailto:milijan-mosic@protonmail.com"
        aria-label="Send me an email"
      >
        <i class="fa-solid fa-envelope"></i>
      </a>
    </div>
    <div class="card-buttons-div">
      <a
        class="card-button"
        target="_blank"
        href="https://github.com/windwalk-bushido/"
        aria-label="Go to my Github profile"
      >
        <i class="fa-brands fa-github"></i>
      </a>

      <a
        class="card-button"
        target="_blank"
        href="https://www.facebook.com/legioxequestris"
        aria-label="Go to my Facebook profile"
      >
        <i class="fa-brands fa-facebook"></i>
      </a>

      <a
        class="card-button"
        target="_blank"
        href="https://gitlab.com/milijan-mosic/my-website"
        aria-label="Go to this website repo"
      >
        <i class="fa-solid fa-code"></i>
      </a>
    </div>
    <p class="year">2023.</p>
  </div>
</div>

<div class="commands-div">
  <button class="button" id="hide_button" aria-label="Show or hide card">
    <i id="eye_slashed_icon" class="fa-solid fa-eye-slash"></i>
  </button>

  <button
    class="button"
    id="random_button"
    aria-label="Generate random splashes"
  >
    <i class="fa-sharp fa-solid fa-dice"></i>
  </button>
</div>
{% endblock %}
