@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Poppins';
  src: url('fonts/Poppins/Poppins-Regular.ttf');
  font-display: swap;
}

html {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
}

::selection {
  @apply bg-black text-sky-300;
}

* {
  @apply select-none;
}

html,
body {
  @apply overflow-hidden bg-black;
}

canvas {
  @apply w-full h-full fixed z-10;
}

.dg {
  @apply -z-50 opacity-90;
}

.dg .property-name {
  @apply overflow-visible;
}

.bg-pic {
  @apply fixed -z-10 w-full;
}

.animation {
  @apply transition-all duration-75 ease-linear;
}

.glass {
  @apply backdrop-blur-md rounded-xl shadow-md hover:shadow-lg;
}

.pre-card-div {
  @apply flex justify-center w-full pt-4 md:pt-8 lg:pt-0 z-10;
}

.card-width {
  min-width: 320px;
  max-width: 640px;
}

.card {
  @apply absolute card-width animation glass bg-gradient-to-b from-sky-300/30 m-4 lg:m-0 px-6 py-3 lg:px-12 lg:py-6 text-white hover:bg-sky-300/40 lg:bottom-16 lg:left-16 z-20;
}

.me {
  @apply mb-12;
}

.my-name-div {
  @apply mb-8 text-center;
}

.my-name {
  @apply text-7xl mt-4 mb-12;
}

.about-me {
  @apply pl-4 list-disc;
}

.list-item {
  @apply text-2xl;
}

.card-buttons-div {
  @apply mb-4 flex flex-wrap items-baseline justify-between;
}

.card-button {
  @apply animation flex justify-center items-center rounded-full w-20 h-20 lg:w-24 lg:h-24 p-4 border-2 border-sky-300/20 shadow-lg text-white text-xl hover:cursor-pointer hover:bg-sky-200/70 hover:text-black z-20;
}

.card-button i {
  @apply text-4xl lg:text-5xl;
}

.year {
  @apply mt-8 text-center;
}

.commands-div {
  @apply absolute flex flex-wrap items-baseline justify-center lg:justify-end w-full lg:w-64 bottom-8 lg:bottom-16 lg:right-16 z-20;
}

.button {
  @apply animation flex justify-center items-center rounded-full w-12 h-12 lg:w-16 lg:h-16 p-4 mx-2 border-2 border-sky-300/20 shadow-lg text-white text-xl hover:cursor-pointer hover:bg-sky-200/70 hover:text-black;
}

.button i {
  @apply text-2xl;
}

.hidden {
  @apply opacity-0 -z-20 transition-all duration-75;
}

.shown {
  @apply opacity-100 z-20 transition-all duration-75;
}

/* 404 */

.info {
  @apply mb-12;
}

.info-div {
  @apply mb-8 text-center;
}

.four-o-four-title {
  @apply text-7xl mt-4 mb-12;
}

.four-o-four-paragraph {
  @apply text-xl;
}

.four-o-four-card-buttons-div {
  @apply mb-4 flex flex-wrap items-baseline justify-center;
}

.four-o-four-card-button {
  @apply animation flex justify-center items-center rounded-full w-20 h-20 lg:w-24 lg:h-24 p-4 border-2 border-sky-300/20 shadow-lg text-white text-xl hover:cursor-pointer hover:bg-sky-200/70 hover:text-black z-20;
}

.four-o-four-card-button i {
  @apply text-4xl lg:text-5xl;
}
