<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta
      http-equiv="Content-Security-Policy"
      content="script-src https://app.my-website.local.com/"
    />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="Milijan Mosić" />
    <meta
      name="description"
      content="This website serves as place where all information and links to other websites about Milijan Mosić will be available"
    />

    <meta
      name="apple-mobile-web-app-status-bar-style"
      content="black-translucent"
    />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="mobile-web-app-capable" content="yes" />

    <meta
      property="og:image"
      content="{{ url_for('static', filename='favicon.ico') }}"
    />
    <meta
      property="og:description"
      content="This website serves as place where all information and links to other websites about Milijan Mosić will be available"
    />
    <meta property="og:title" content="Milijan Mosić" />

    <meta name="twitter:title" content="Milijan Mosić" />

    <link rel="apple-touch-icon" sizes="180x180" href={{ url_for('static',
    filename='apple-touch-icon.png') }} /> <link rel="icon" type="image/png"
    sizes="32x32" href={{ url_for('static', filename='favicon-32x32.png') }} />
    <link rel="icon" type="image/png" sizes="16x16" href={{ url_for('static',
    filename='favicon-16x16.png') }} />
    <link rel="manifest" href="/site.webmanifest" />

    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='css/globals.min.css') }}"
    />

    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='fontawesome/css/fontawesome.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='fontawesome/css/brands.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='fontawesome/css/solid.css') }}"
    />

    <script src="{{ url_for('static', filename='js/dat.gui.min.js') }}"></script>

    {% if title %}
    <title>Milijan Mosić - {{ title }}</title>
    {% else %}
    <title>Milijan Mosić</title>
    {% endif %}
  </head>
  <body>
    <!--
    <header id="header">
      <nav id="nav">{% block header %}{% endblock %}</nav>
    </header>
    -->

    <canvas> </canvas>

    <main class="main" id="main">{% block main %}{% endblock %}</main>

    <!--
    <footer id="footer">{% block footer %} {% endblock %}</footer>
    -->
    <script
      defer
      src="{{ url_for('static', filename='js/index.min.js') }}"
    ></script>
    <script
      defer
      src="{{ url_for('static', filename='js/fluid_renderer.min.js') }}"
    ></script>
  </body>
</html>
